<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>raashanbazaar</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RemoveItemFromCart</display-name>
    <servlet-name>RemoveItemFromCart</servlet-name>
    <servlet-class>com.raashanbazaar.RemoveItemFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItemFromCart</servlet-name>
    <url-pattern>/remove-item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_Category</display-name>
    <servlet-name>Search_Category</servlet-name>
    <servlet-class>com.raashanbazaar.Search_Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Category</servlet-name>
    <url-pattern>/search-category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_Out</display-name>
    <servlet-name>Check_Out</servlet-name>
    <servlet-class>com.raashanbazaar.Check_Out</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_Out</servlet-name>
    <url-pattern>/check-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Incr_Decrement</display-name>
    <servlet-name>Incr_Decrement</servlet-name>
    <servlet-class>com.raashanbazaar.Incr_Decrement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Incr_Decrement</servlet-name>
    <url-pattern>/incr-decr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.raashanbazaar.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/register-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_To_Cart</display-name>
    <servlet-name>Add_To_Cart</servlet-name>
    <servlet-class>com.raashanbazaar.Add_To_Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_To_Cart</servlet-name>
    <url-pattern>/addItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_To_WishList</display-name>
    <servlet-name>Add_To_WishList</servlet-name>
    <servlet-class>com.raashanbazaar.Add_To_WishList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_To_WishList</servlet-name>
    <url-pattern>/addWishItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrder</display-name>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>com.raashanbazaar.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/cancel-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.raashanbazaar.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WishListAdder</display-name>
    <servlet-name>WishListAdder</servlet-name>
    <servlet-class>com.raashanbazaar.WishListAdder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishListAdder</servlet-name>
    <url-pattern>/add-wish-list</url-pattern>
  </servlet-mapping>
</web-app>